body{
    font-size: 40px;

    /* In font family "sans-serif" = if browser not get a font as we discribe he will take as "sans-serif"  */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 200%;

    /* To make font normal from bold  */
    font-weight: normal;
    /* To make font italic from normal  */
    font-style: italic;
    /* To give spacing between letter  */
    letter-spacing: 4px;
    /* To give spacing between word  */
    word-spacing: 10px;
    /* To give shadow to word  */
    text-shadow: 2px 10px 10px black;
    /* To convert word from small case to uppercase  */
    text-transform: uppercase;
    /* To give under line to words  */
    text-decoration: underline;
    /* To remove under-line from words  */
    /* text-decoration: none; */
}
p{
/* To make our text center, left, right and justify  */
text-align: justify;
/* To make space before starting the paragraph  */
    text-indent: 100px;
/* To make space between line  */
    line-height: 1.5;
}